@model AuthorVM

<div class="container mt-5">
    <h1 class="text-center">Author detail</h1>
</div>

<div>
    <h1>Fullname: @Model.Name @Model.Surname</h1>
    <h1>Age: @Model.Age</h1>
    <h1>Image: <img src="~/../wwwroot/img/@Model.Image" alt="Alternate Text" /></h1>
</div>
